html {
	margin-top: 20px;
	font-family: "Lato", sans-serif;
}

body {
		font-family: "Lato", sans-serif;
		color: #747704;
		font-weight: 400;
}

.row {
	margin-bottom: 10px;
}

.main-title {
	font-size: 400%;
	font-weight: 100;
}

.featured-heading {
	font-size: 300%;
	color: #BCBBBB;
	margin-bottom: 10px;
}

.col-md-4 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.url {
	font-weight: 300;
}
hr.horizontal-rule {
	height: 4px;
	background-color: #BCBBBB;
}

img,
object,
video {
	max-width: 100%;
}
